// Paramètres globaux
@import "./utils/variables";
@import "./utils/mixins";
@import "./generalscss/base";

// settings.scss

// Définitions des variables
$carousel-button-width: 40px; //
$carousel-button-height: 40px; //
$main-width: 1240px; //
$breakpoint-mobile: 768px; //

// Autres variables de ton projet...
